.contract {
  margin-top: 40px;

  .main__title {
    @media (max-width: $breakpoint768) {
      line-height: 34px;
    }
  }

  p {
    font-family: $fontRegularText;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: $primary;
    @media (max-width: $breakpoint768) {
      font-size: 18px;
      line-height: 26px;
    }
  }
}
