// Footer
footer {
  position: relative;
  min-height: 523px;
  height: 100%;
  background: url(../img/background_footer.svg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;

  @media (max-width: $breakpoint1024) {
    min-height: 370px;
  }
  @media (max-width: $breakpoint768) {
    min-height: 330px;
    background: url(../img/background_footer_tablet.svg) no-repeat;
    background-size: cover;
  }
  @media (max-width: $breakpoint600) {
    min-height: 525px;
    background: url(../img/background_footer_mobile.svg) no-repeat;
    background-size: cover;
  }

  .elipse {
    width: 100%;
    height: 100%;
    background: url(../img/elipse_contact.svg) no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @media (max-width: $breakpoint1024) {
      max-width: 450px;
      background-size: contain;
    }
    @media (max-width: $breakpoint1024) {
      max-width: 375px;
    }
  }

  .inner {
    padding-bottom: 40px;
    z-index: 2;

    @media (max-width: $breakpoint1024) {
      padding-bottom: 20px;
    }
    @media (max-width: $breakpoint768) {
      padding-bottom: 15px;
    }
    @media (max-width: $breakpoint365) {
      padding-top: 45px;
      padding-bottom: 10px;
    }

    .footer__container {
      display: flex;
      justify-content: space-between;

      @media (max-width: $breakpoint600) {
        justify-content: space-evenly;
        margin-bottom: 20px;
        flex-wrap: wrap;
        row-gap: 18px;
      }
      @media (max-width: $breakpoint365) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
      }

      p,
      li,
      h4,
      a {
        font-family: $fontMain;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: $white;

        @media (max-width: $breakpoint1024) {
          font-size: 17px;
          line-height: 23px;
        }
      }

      .footer__nav {
        max-width: 200px;
        width: 100%;

        @media (max-width: $breakpoint600) {
          order: 1;
        }
        @media (max-width: $breakpoint425) {
          max-width: 125px;
        }
        @media (max-width: $breakpoint365) {
          margin-bottom: 25px;
          text-align: center;
        }

        ul {
          li {
            &:not(:last-of-type) {
              margin-bottom: 20px;

              @media (max-width: $breakpoint1024) {
                margin-bottom: 15px;
              }
              @media (max-width: $breakpoint768) {
                margin-bottom: 10px;
              }
            }

            a {
              color: $white;
              position: relative;

              &:before {
                @include underlinedLine;
                background: $white;
              }

              &:hover::before {
                width: 100%;
              }
            }
          }
        }
      }

      .footer__contacts {
        max-width: 250px;
        width: 100%;

        @media (max-width: $breakpoint600) {
          order: 3;
        }

        h4 {
          text-align: center;
          color: $white;
          margin-bottom: 15px;
        }

        .logo__contacts {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          max-width: 180px;
          row-gap: 18px;
          column-gap: 28px;
          margin: auto;

          img {
            cursor: pointer;
            transition: transform 0.2s;

            &:hover {
              transform: scale(1.1);
            }

            @media (max-width: $breakpoint1024) {
              max-width: 30px;
              height: auto;
            }
            @media (max-width: $breakpoint768) {
              max-width: 35px;
            }
            @media (max-width: $breakpoint600) {
              max-width: 40px;
            }
          }
        }
      }

      .footer__location {
        max-width: 200px;
        width: 100%;

        @media (max-width: $breakpoint600) {
          order: 2;
        }
        @media (max-width: $breakpoint425) {
          max-width: 165px;
        }
        @media (max-width: $breakpoint365) {
          margin-bottom: 25px;
          text-align: center;
        }

        h4 {
          text-align: right;
          color: $white;
          margin-bottom: 15px;

          @media (max-width: $breakpoint1024) {
            margin-bottom: 10px;
          }
        }

        .container__phone {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 20px;

          @media (max-width: $breakpoint1024) {
            margin-bottom: 10px;
          }
          @media (max-width: $breakpoint365) {
            justify-content: center;
          }

          .link__img {
            transition: transform 0.2s;
            &:hover {
              transform: scale(1.1);
            }
          }

          .link__phone {
            margin-left: 10px;
            position: relative;

            &:before {
              @include underlinedLine;
              background: $white;
              bottom: 1px;
            }

            &:hover::before {
              width: 100%;
            }
          }
        }

        .location {
          text-align: right;

          @media (max-width: $breakpoint365) {
            text-align: center;
          }

          .link__location {
            font-size: 18px;

            @media (max-width: $breakpoint1024) {
              font-size: 15px;
            }
            @media (max-width: $breakpoint365) {
              text-align: center;
            }
          }
        }
      }
    }

    .copyright {
      display: block;
      font-family: $fontMain;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: $white;

      @media (max-width: $breakpoint1024) {
        font-size: 17px;
        line-height: 23px;
      }
      @media (max-width: $breakpoint768) {
        margin-top: 15px;
      }
    }
  }
}
