// inner
.inner {
  max-width: ($innerWidth + $innerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $innerSidePadding + px;

  @media (max-width: $breakpoint1440) {
    max-width: 1236px;
  }

  @media (max-width: $breakpoint1024) {
    max-width: 883px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 665px;
  }

  @media (max-width: $breakpoint600) {
    max-width: none;
  }
}

html {
  scroll-behavior: smooth;
}

// Body Locked
body {
  font-family: $fontMain;

  &.locked {
    overflow: hidden;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
