// inner
.inner {
  max-width: ($innerWidth + $innerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $innerSidePadding + px;

  @media (max-width: $breakpoint1440) {
    max-width: 1236px;
  }

  @media (max-width: $breakpoint1235) {
    max-width: 1020px;
  }

  @media (max-width: $breakpoint1024) {
    max-width: 950px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 688px;
  }

  @media (max-width: $breakpoint600) {
    max-width: none;
  }
}

html {
  scroll-behavior: smooth;
}

// Body Locked
body {
  font-family: $fontMain;

  &.locked {
    overflow: hidden;
  }
}

// Button
.btn {
  display: inline-block;
  padding: 13px 36px;
  border: 2px solid $btn;
  border-radius: 38px;
  background-color: $btn;
  font-family: $fontMain;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: $white;
  transition: all 0.4s;

  &:hover {
    background-color: $white;
    color: $primary;
  }
  @media (max-width: $breakpoint1235) {
    padding: 12px 30px;
  }
  @media (max-width: $breakpoint425) {
    font-size: 18px;
  }
}

// Text
.main__title {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 56px;
  color: $primary;
  text-align: center;
  margin-bottom: 70px;

  @media (max-width: $breakpoint1024) {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 50px;
  }
  @media (max-width: $breakpoint768) {
    font-size: 29px;
    line-height: 29px;
    margin-bottom: 40px;
  }
  @media (max-width: $breakpoint600) {
    margin-bottom: 30px;
  }
}

section {
  margin-bottom: 170px;

  @media (max-width: $breakpoint1024) {
    margin-bottom: 150px;
  }
  @media (max-width: $breakpoint768) {
    margin-bottom: 95px;
  }
  @media (max-width: $breakpoint600) {
    margin-bottom: 60px;
  }
}

// Preset for line
@mixin underlinedLine {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background: $primary;
  transition: all 0.2s ease-in-out;
}

@mixin anchorForLink {
  display: block;
  content: '';
  height: 120px;
  margin: -120px 0 0;

  @media (max-width: $breakpoint1024) {
    height: 90px;
    margin: -90px 0 0;
  }
  @media (max-width: $breakpoint768) {
    height: 70px;
    margin: -70px 0 0;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// For people, who turn off the animation on the website
@media (prefers-reduced-motion) {
  * {
    transition: none;
  }
}
