// Header

.header {
  position: sticky;
  top: 0;
  background: $white;
  z-index: 50;
  transition: 0.2s;

  &.fixed {
    box-shadow: 0px 5px 40px rgb(37 37 37 / 5%);
  }

  .inner {
    position: relative;

    .header__menu {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 0;

      @media (max-width: $breakpoint600) {
        padding: 5px 0 10px 0;
      }

      // todo rename
      .nav__link {
        font-size: 15px;
        line-height: 15px;
        color: $primary;
      }
      // todo rename
      .city__location-mobile {
        display: none;
        padding: 5px 30px 5px 20px;
        border: 1px solid $primary;
        border-radius: 9px;
        position: relative;

        @media (max-width: $breakpoint1024) {
          padding: 4px 25px 3px 15px;
        }
        @media (max-width: $breakpoint600) {
          display: block;
          visibility: visible;
          margin-top: 12px;
        }

        &::after {
          content: '';
          width: 11px;
          height: 16px;
          position: absolute;
          right: 13px;
          background: url(../img/arrow__dark.svg) no-repeat center;
          transition: transform 0.2s linear;

          @media (max-width: $breakpoint1024) {
            right: 10px;
          }
        }

        &.active {
          &::after {
            transform: rotate(180deg);
          }
        }
      }

      .header__logo {
        @media (max-width: $breakpoint1024) {
          max-width: 80px;
        }
        @media (max-width: $breakpoint768) {
          max-width: 60px;
        }
        @media (max-width: $breakpoint600) {
          max-width: 70px;
        }
      }

      .menu__list {
        display: flex;

        @media (max-width: $burgerBreakpoint) {
          position: fixed;
          background: #fff;
          left: 0;
          top: 0;
          width: 100vw;
          height: 100vh;
          display: none;

          &.active {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 100vw;
            height: 100vh;
            left: 0;
            top: 0;
            pointer-events: all;
            z-index: 5;
            animation: fade 0.1s linear;
          }
        }
      }

      .menu__item {
        margin-left: 60px;

        &.mobile {
          display: none;

          @media (max-width: $breakpoint600) {
            display: block;
          }
        }

        @media (max-width: $breakpoint1024) {
          margin-left: 35px;
        }
        @media (max-width: $breakpoint768) {
          margin-left: 30px;
        }
        @media (max-width: $breakpoint600) {
          margin-left: 0px;
        }

        &-link {
          position: relative;
          font-family: $fontTitle;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: $primary;

          @media (max-width: $breakpoint1024) {
            font-size: 17px;
            line-height: 16px;
          }
          @media (max-width: $breakpoint768) {
            font-size: 15px;
          }
          @media (max-width: $breakpoint600) {
            font-size: 24px;
          }

          &:before {
            @include underlinedLine;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
}

.small__container {
  display: none;

  .burger {
    display: none;
    cursor: pointer;
  }

  img {
    display: none;
  }
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {
  .small__container {
    display: flex;
    margin-top: 12px;

    img {
      display: block;
      margin-right: 25px;
      transform: scale(1.3);
    }
    // .burger
    .burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 102;
      cursor: pointer;

      &.active-burger {
        &:before {
          background: $burgerActiveColor;
          transform: rotate(45deg);
          transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
          top: 8px;
        }

        &:after {
          background: $burgerActiveColor;
          transform: rotate(-45deg);
          bottom: 10px;
          transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        & span {
          transform: scale(0);
        }
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background: $burgerColor;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      &:before {
        top: 1px;
      }

      &::after {
        bottom: 1px;
      }

      span {
        position: absolute;
        top: 9px;
        right: 0;
        width: 100%;
        height: 2px;
        background: $burgerColor;
        transform: scale(1);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }
    }
  }

  .menu__item {
    margin-top: 15px;
    margin-left: 0;
  }

  .menu__item-link {
    color: $black;
  }
}

.secondary__header {
  background-color: $dark;
  margin-bottom: 0;

  @media (max-width: $breakpoint600) {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    &__container {
      gap: 60px;
      display: flex;
      align-items: center;
      position: relative;

      @media (max-width: $breakpoint1024) {
        gap: 35px;
      }

      .pay {
        position: relative;

        &:before {
          @include underlinedLine;
          height: 1px;
          background: $white;
          bottom: -2px;
        }

        &:hover::before {
          width: 100%;
        }
      }

      .selection__panel {
        &:hover {
          span {
            &::before {
              width: 100%;
            }
          }
        }

        span {
          position: relative;

          &:before {
            @include underlinedLine;
            height: 1px;
            background: $white;
            bottom: -2px;
          }

          &:hover::before {
            width: 100%;
          }
        }

        img {
          @media (max-width: $breakpoint1024) {
            max-width: 17px;
          }
        }
      }

      .private__cabinet {
        img {
          @media (max-width: $breakpoint1024) {
            max-width: 24px;
          }
        }
      }
    }

    .city__location {
      position: relative;
      padding: 5px 30px 5px 20px;
      border: 1px solid $white;
      border-radius: 9px;

      @media (max-width: $breakpoint1024) {
        padding: 4px 25px 3px 15px;
      }

      &.active {
        &::after {
          transform: rotate(180deg);
        }
      }

      &::after {
        content: '';
        width: 11px;
        height: 18px;
        position: absolute;
        right: 13px;
        background: url(../img/arrow.svg) no-repeat center;
        transition: transform 0.2s linear;

        @media (max-width: $breakpoint1024) {
          right: 10px;
        }
      }
    }
  }
}

.nav__link {
  display: inline-flex;
  align-items: center;
  font-family: $fontTitle;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $white;

  @media (max-width: $breakpoint1024) {
    font-size: 12px;
    line-height: 12px;
  }

  span {
    margin-right: 20px;

    @media (max-width: $breakpoint1024) {
      margin-right: 15px;
    }
  }
}

.popUp {
  // display: none;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 60;
  padding: 24px;
  border-radius: 12px;
  opacity: 0;
  color: #303030;
  background: #fff;
  visibility: hidden;
  box-shadow: 0 8px 25px rgba(48, 48, 48, 0.2);
  transition: visibility ease 1s, opacity ease 0.2s;

  @media (max-width: $breakpoint1024) {
    max-width: 350px;
  }

  @media (max-width: $breakpoint600) {
    transition: none;
  }

  &.support {
    left: inherit;
    right: 90px;

    @media (max-width: $breakpoint600) {
      right: 0;
    }

    .popUp__content {
      .container__phone {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 10px;

        .link__phone {
          position: relative;
          font-family: $fontRegularText;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
          color: $primary;

          &:before {
            @include underlinedLine;
            bottom: -1px;
          }

          &:hover::before {
            width: 100%;
          }
        }

        img {
          cursor: pointer;
          transition: transform 0.2s;

          &:hover {
            transform: scale(1.1);
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        @media (max-width: $breakpoint1024) {
          margin-bottom: 5px;
        }
      }

      .contact__us {
        margin-top: 10px;

        .main__title {
          margin-top: 0px;
          margin-bottom: 15px;
        }

        .social__media {
          display: flex;
          justify-content: space-between;
          max-width: 280px;

          a {
            margin: 0 7px;

            img {
              cursor: pointer;
              transition: transform 0.2s;

              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }

  &.active {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: visibility ease 1s, opacity ease 0.2s;

    @media (max-width: $breakpoint600) {
      transition: none;
    }
  }

  @media (max-width: $breakpoint600) {
    top: 54px;
    left: 0;
    width: 100%;
    max-width: inherit;
  }

  .main__title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 10px;
    margin-bottom: 20px;

    @media (max-width: $breakpoint1024) {
      font-size: 22px;
    }
  }

  .popUp__close {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transform: rotate(45deg);
    z-index: 3;

    &:after,
    &:before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 2px;
      background: #929292;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: background 0.25s ease-in-out;
    }

    &::after {
      transform: translateY(-50%) rotate(90deg);
    }
  }

  .popUp__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .link {
      font-family: $fontRegularText;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: $primary;
      position: relative;

      &:before {
        @include underlinedLine;
        bottom: -1px;
      }

      &:hover::before {
        width: 100%;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      @media (max-width: $breakpoint1024) {
        font-size: 22px;
      }
    }
  }

  .choice {
    font-size: 15px;
    color: #929292;
    text-align: center;
    margin-top: 20px;
  }
}
