.payment {
  margin-top: 50px;
  margin-bottom: 60px;

  .inner {
    padding: 0 15px;
  }

  .main__title {
    @media (max-width: $breakpoint768) {
      line-height: 34px;
    }
  }

  &__link {
    width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 5px;
    }
  }

  &__text {
    font-family: $fontRegularText;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $primary;
    margin-left: 15px;
  }

  u {
    color: #000;
  }
}

.accordion {
  .accordion__item {
    border-bottom: 1px solid #424242;

    &.accordion__item-active {
      .accordion__item-content {
        display: block;
      }

      .line2 {
        transform: translate(0) !important;
        transition: 0.1s all ease;
      }

      .line1 {
        opacity: 0;
        transition: 0.1s all ease;
      }
    }

    .accordion__item-trigger {
      display: flex;
      padding: 15px 0;
      align-items: center;
      cursor: pointer;

      @media (max-width: $breakpoint768) {
        padding: 10px 0;
      }

      .trigger__text {
        font-family: $fontRegularText;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: $primary;
        margin: 0 15px;

        @media (max-width: $breakpoint1024) {
          font-size: 20px;
          line-height: 27px;
        }
        @media (max-width: $breakpoint480) {
          font-size: 18px;
          line-height: 22px;
        }
      }

      .trigger__img {
        position: relative;
        margin-left: auto;

        .line1 {
          display: block;
          width: 18px;
          height: 2px;
          background: black;
          border-radius: 100px;
        }

        .line2 {
          display: block;
          width: 18px;
          height: 2px;
          background: black;
          margin-top: -2px;
          border-radius: 100px;
          transform: rotate(90deg);
          transition: 0.3s all ease;
        }
      }
    }

    .accordion__item-content {
      padding-bottom: 20px;
      display: none;
      animation: fade 0.3s ease;

      .content__text {
        margin-top: 25px;
        padding-left: 35px;
        font-family: $fontRegularText;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: $black;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
