// inner & Breakpoints
@use 'sass:math';
$innerWidth: 1236;
$innerPadding: 20;
$innerSidePadding: math.div($innerPadding, 2);
$breakpoint1440: 1440 + px;
$breakpoint1235: 1235 + px;
$breakpoint1024: 1024 + px;
$breakpoint991: 991 + px;
$breakpoint768: 768 + px;
$breakpoint600: 600 + px;
$breakpoint480: 480 + px;
$breakpoint425: 425 + px;
$breakpoint375: 375 + px;
$breakpoint320: 320 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint600;
$burgerColor: 'black';
$burgerActiveColor: 'white';

// Colors
$primary: #424242;
$btn: #d23541;
$dark: #191919;
$white: #fff;

// Fonts
$fontMain: 'Manrope', sans-serif;

// font-family: 'Manrope', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
